.CheckoutItem{
    display: flex;

}
.MealImg{
    width: 140rem;
}
.MealImg img{
    width: 100%;
}

.Desc{
    flex: auto;
    margin-left: 20rem;
    display: flex;
    flex-flow: column;

}


.Title{
    font-size: 24rem;
}
.PriceOuter{
    display: flex;
    justify-content: space-between;
}
.Price{
    font-size: 26rem;
    font-weight: bold;
    margin-right: 20rem;
}

.Price::before{
    content:'ï¿¥';
    font-weight: normal;
    font-size: 24rem;
}
